<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>navigation</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <!-- JavaScript -->
    <script src = "{% static "js/jquery.js" %}"></script>
</head>
<body>
   <h1>django says...</h1>
<div>
    这是第一个页面<br/>
    <strong>{{ boldmessage }}</strong>
</div>
<a href="/navigation/about/">关于</a><br>
<img src = "{% static "images/1.PNG" %}"
     alt="picture of django">

</body>
</html>